body {
  font-family: sans-serif;
}

h1 {
  font-size: 15pt;
  padding-top: .5ch;
}

#key-info {
  border-spacing: 0;
  border-collapse: collapse;
  table-layout: fixed;
}
#key-info td, #key-info th {
  border: 1px solid #aaa;
  padding: 1ch;
  font-size: 11pt;
}
#key-info th {
  background-color: #f8f8f8;
  text-align: left;
}

